<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A cybersecurity assistant that uses a local large language model to reccomend relevant documents
                                      from the NIST SP-800 series documents.">
    <meta name="author" content="Braxton VanGundy">
    <link rel="icon" href="">

    <title>NIST Cybersecurity Assistant</title>

    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/cover.css') }}">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">NIST Cybersecurity Assistant</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">NIST Assistant</a>
          </nav>
        </div>
      </header>

      <br>
      <hr>
      <br>

      <main role="main" class="inner cover">
        <div style="text-align: center;">

          <div id="chat-log" style="text-align: left;"></div>
          <br>
          <div>
            <form id="chat-form">
              <label for="message" style="font-weight: bold;">Ask your question here:</label>
              <input type="text" id="message" name="message">
              <button type="submit" class="btn btn-light">Get Answer!</button>
            </form>
        </div>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>NIST Assistant developed for my capstone project.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!--Chatbot javascript for streaming the response to the UI-->
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>

</body></html>